atomicwrites==1.4.0
attrs==21.2.0
backports.entry-points-selectable==1.1.0
colorama==0.4.4
coverage==6.0.2
distlib==0.3.3
filelock==3.0.12
importlib-metadata==4.8.1
iniconfig==1.1.1
mysql-connector-python==8.0.26
packaging==21.0
platformdirs==2.3.0
pluggy==1.0.0
py==1.10.0
pyparsing==2.4.7
pytest==6.2.5
six==1.16.0
toml==0.10.2
typing-extensions==3.10.0.2
virtualenv==20.8.1
virtualenvwrapper-win==1.2.6
zipp==3.5.0
